<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sonidos App
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="ordenando=!ordenando">{{TituloOrdenando()}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher enabled={{!ordenando}} (ionRefresh)="refrescar($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar($event)">
    <ion-item-sliding *ngFor="let item of animales;let i = index" (click)="reproducir(item)">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.imagen">
        </ion-avatar>
        <h2>{{item.nombre}}</h2>
        <h3>{{item.origen}}</h3>
        <p>{{item.descripcion}}</p>
        <ion-icon *ngIf="!item.reproduciendo" name="play" item-right></ion-icon>
        <ion-icon *ngIf="item.reproduciendo" name="pause" item-right></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrarItem(item,i)">
          <ion-icon name="trash"></ion-icon>
          borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
